name: Generate file-based catalogs

on:
  push:
    branches:
      - main
    paths:
      - 'hack/update-catalog.sh'

env:
  BRANCH: actions/generate-catalog

jobs:
  update-catalog:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Log into registry.redhat.io
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: registry.redhat.io
          username: ${{ secrets.RH_REGISTRY_USERNAME }}
          password: ${{ secrets.RH_REGISTRY_PASSWORD}}

      - name: Get catalog sha
        id: get-catalog-sha
        run: |
          echo "catalog-sha=$(grep bundle@sha256 hack/update-catalog.sh | cut -d ':' -f 2- | tr -d \")" >> GITHUB_OUTPUT
          echo "catalog-short-sha=$(grep bundle@sha256 hack/update-catalog.sh | cut -d ':' -f 2- | cut -b -7 | tr -d \")" >> GITHUB_OUTPUT

      - name: Generate catalog
        run: |
          make generate-catalog

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: generate catalog for bundle ${{ steps.get-catalog-sha.outputs.catalog-short-sha }}"
          title: "Generate file-based catalogs for bundle ${{ steps.get-catalog-sha.outputs.catalog-short-sha }}"
          body: "Update the catalogs to bundle sha ${{ steps.get-catalog-sha.outputs.catalog-sha }}."
          branch: ${{ env.BRANCH }}
          token: ${{ secrets.GITHUB_TOKEN }}
